<div class="hidden flex flex-col items-center h-screen text-4xl pt-24 bg-white/75" data-toggle-menu-target="menu">
    <a href="{{ path(enum('App\\Enum\\RoutesEnum').app_project_illustrations.name) }}" class="hover:underline my-6 p-2">{{ 'Illustrations' | trans }}</a>
    <a href="{{ path(enum('App\\Enum\\RoutesEnum').app_project_workshops.name) }}" class="hover:underline my-6 p-2">{{ 'Workshops' | trans }}</a>
    <a href="#" class="hover:underline my-6 p-2">{{ 'About' | trans }}</a>
    <a href="#" class="hover:underline my-6 p-2">{{ 'Contact' | trans }}</a>
</div>
