{% if show_divider %}<div class="border-b w-full my-12"></div>{% endif %}
<div class="{% if project is defined %}columns-2{% else %}columns-1{% endif %} sm:columns-2 md:columns-3 lg:columns-4 xl:columns-5 gap-2 [column-fill:_balance] space-y-2">
    {% for project in projects %}
        {% if project.mainImage is not null and project.isActive %}
            <a href="{{ path(enum('App\\Enum\\RoutesEnum').app_project_detail.name, {'slug': project.slug}) }}" class="relative group block">
                <div class="relative overflow-hidden">
                    {% if project is gif_file_format %}
                        <img
                            class="w-full"
                            src="{{ vich_uploader_asset(project, 'mainImageFile') }}"
                            alt="{{ project.title }}"
                        >
                    {% else %}
                        <img
                            srcset="{{ vich_uploader_asset(project, 'mainImageFile') | imagine_filter('w_360') }} 360w,
                                {{ vich_uploader_asset(project, 'mainImageFile') | imagine_filter('w_576') }} 576w,
                                {{ vich_uploader_asset(project, 'mainImageFile') | imagine_filter('w_720') }} 720w"
                            sizes="(min-width: 1200px) 800px,
                                (min-width: 992px) 650px,
                                (min-width: 768px) 500px,
                                90vw"
                            class="w-full"
                            src="{{ vich_uploader_asset(project, 'mainImageFile') | imagine_filter('w_576') }}"
                            alt="{{ project.title }}"
                        >
                    {% endif %}
                    <div class="absolute inset-0 bg-white bg-opacity-50 flex opacity-0 transition-opacity duration-300 group-hover:opacity-80">
                        <h2 class="text-black text-md md:text-md font-bold p-4">{{ project.title }}</h2>
                    </div>
                </div>
            </a>
        {% endif %}
    {% endfor %}
</div>
