{% extends 'frontend/base.html.twig' %}

{% block title %}{{ 'About' | trans }} · {{ parent() }}{% endblock %}

{% block main %}
    <div class="w-full max-w-screen-xl p-4 mx-auto text-base">
        <div class="container mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div class="order-first md:order-last space-y-6">
                    <img src="{{ asset('images/capgros_670.jpg') }}" alt="{{ customer_name }}" class="w-full">
                </div>
                <div class="order-last md:order-first space-y-6">
                    <h4 class="text-3xl md:text-4xl font-bold">Hola!</h4>
                    <p>
                        Em dic Miguel Bustos i soc un il·lustrador que treballa des de Barcelona. Soc d'un poble on hi ha fàbriques de mobles i el vent bufa molt fort. Tot i que vaig estudiar disseny gràfic, a dia d'avui em dedico a la il·lustració. Res em fa més feliç que estar imprimint al taller de serigrafia o dibuixant <em>xistes malos</em> sota el nom de <a href="https://www.instagram.com/humor_se_escribe_con_lapiz/" class="underline hover:text-cyan-600 transition-colors duration-300">humor se escribe con lápiz</a>, el meu alter ego.
                    </p>
                    <p>
                        A banda de la il·lustració, fa anys que combino la meva activitat professional d'il·lustrador amb la docència a EINA, Centre Universitari d'Art i Disseny (Barcelona). També realitzo tallers fora del context acadèmic, sovint per a públic infantil.
                    </p>
                    <p>
                        Si tens qualsevol pregunta o simplement vols saludar, ves a l'apartat <a href="{{ path('app_contact') }}" class="underline hover:text-cyan-600 transition-colors duration-300">contacte</a>.
                    </p>
                    <p>
                        Representat a nivell internacional per:<br>
                        <a href="https://www.howdoyoudoagency.com/" target="_blank" class="underline hover:text-cyan-600 transition-colors duration-300">How do you do agency</a>
                    </p>
                    <h4 class="text-3xl md:text-4xl font-bold mt-12">Alguns clients</h4>
                    <p>
                        He tingut la sort i el plaer de poder treballar en diferents àmbits amb clients com:
                    </p>
                    <p>
                        Feria Internacional del Libro de Guadalajara, Washington Post, Elpais, Volkswagen, Fondation Louis Vuitton, Fnac, German Historical Museum, Ajuntament de Barcelona, Generalitat de Catalunya, Creu Roja, Seat, Institut for Bioengineering Catalonia, Oregon Health ans Science University, Conde Nast Traveller, Anorak Magazine, Magazine Georges, Graou Magazine, Cavall fort, Time Out Barcelona i molts altres.
                    </p>
                    <p>
                        Ah, i també amb una companyia sueca de mobles (de la qual, per contracte, no en puc dir el nom).
                    </p>
                    <h4 class="text-3xl md:text-4xl font-bold mt-12">Premis</h4>
                    <p>
                        Society of Illustrators NY, 2024. Gold Medal.<br>
                        World illustration Awards, 2024. Highly Commended.<br>
                        World illustration Awards, 2023. Shortlisted.<br>
                        World illustration Awards, 2022. Longlisted.<br>
                        World illustration Awards, 2018. Shortlisted<br>
                        Junceda award, 2024. Awarded<br>
                        Junceda award, 2023. Awarded<br>
                        Junceda award, 2020. Awarded<br>
                        Junceda award, 2016. Awarded<br>
                        Junceda award, 2014. Awarded
                    </p>
                    <h4 class="text-3xl md:text-4xl font-bold mt-12">Llibres</h4>
                    <p>
                        <strong>PLAY: Canciones para leer en familia</strong><br>
                        (editorial Mediterrània, Spain, 2024)<br><br>
                        <strong>How it works: Electricity</strong><br>
                        (Usborne Publishing, 2023)<br><br>
                        <strong>Le grand bazar</strong><br>
                        (Gautier Languereau, France, 2023)<br><br>
                        <strong>Humor se escribe con lápiz</strong><br>
                        (editorial Pepitas, Spain, 2022)<br><br>
                        <strong>Sona el violí</strong><br>
                        (editorial Casals, Spain, 2022)<br><br>
                        <strong>Recht und Gesetze - Einfach verstehen!</strong><br>
                        (Usborne Publishing, 2022)<br><br>
                        <strong>Law for beginners</strong><br>
                        (Usborne Publishing, 2021)<br><br>
                        <strong>Museus de les comarques de Tarragona i les Terres de l'Ebre</strong><br>
                        (editorial Mediterrània, Spain, 2021)<br><br>
                        <strong>How Art Works</strong><br>
                        (Usborne Publishing, 2020)<br><br>
                        <strong>Be amazing. by Chris Hoy</strong><br>
                        (Walker books, 2020)<br><br>
                        <strong>Tots sis</strong><br>
                        (Jollibre, 2020)<br><br>
                        <strong>Bruce Lee. Little People BIG DREAMS</strong><br>
                        (Quarto Kids, 2019)<br><br>
                        <strong>Bruce Lee. (col·lección Pequeño & Grande)</strong><br>
                        (ed Alba, 2019)<br><br>
                        <strong>Ana Frank</strong><br>
                        (ed, pepitas de oro, 2019)<br><br>
                        <strong>M, le grand livre du Guide Michelin</strong><br>
                        (Ed la martinière, 2019)<br><br>
                        <strong>Beste Freunde: Ein Such-Buch</strong><br>
                        (Prestel Verlag, Germany, 2018)<br><br>
                        <strong>Bucketloads of Friends</strong><br>
                        (Prestel Publishing, 2018)<br><br>
                        <strong>Mogollón</strong><br>
                        (Mosquito books, Spain, 2017)<br><br>
                        <strong>Catalunya triomfant</strong><br>
                        (Roca editorial, Spain, 2016)<br><br>
                        <strong>El senyor Romaní</strong><br>
                        (EDT, Spain, 2013)
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% include 'frontend/parts/projects_grid.html.twig' with { 'show_divider': true } %}
{% endblock %}
