{% extends 'frontend/base.html.twig' %}

{% block title %}{{ 'About' | trans }} · {{ parent() }}{% endblock %}

{% block main %}
    <div class="w-full max-w-screen-xl p-4 space-y-6 mx-auto text-base">
        <h4>Hola!</h4>
        <p>
            Em dic Miguel Bustos i soc un il·lustrador que treballa des de Barcelona.
        </p>
        <p>
            Soc d’un poble on hi ha fàbriques de mobles i el vent bufa molt fort. Tot i que vaig estudiar disseny gràfic, a dia d’avui em de- dico a la il·lustració. Res em fa més feliç que estar imprimint al taller de serigrafia o dibuixant <em>xistes malos</em> sota el nom de <a href="https://www.instagram.com/humor_se_escribe_con_lapiz/" class="underline hover:text-cyan-600 transition-colors duration-300">humor se escribe con lápiz</a>, el meu alter ego.
        </p>
        <p>
            A banda de la il·lustració, fa anys que combino la meva activitat professional d’il·lustrador amb la docència a EINA, Centre Universitari d’Art i Disseny (Barcelona). També realitzo tallers fora del context acadèmic, sovint per a públic infantil.
        </p>
        <p>
            Si tens qualsevol pregunta o simplement vols saludar, ves a l’apartat <a href="{{ path('app_contact') }}" class="underline hover:text-cyan-600 transition-colors duration-300">contacte</a>.
        </p>
        <p>
            Representat a nivell internacional per:<br>
            <a href="https://www.howdoyoudoagency.com/" target="_blank" class="underline hover:text-cyan-600 transition-colors duration-300">How do you do agency</a>
        </p>
        <p>
            <span class="underline">{{ 'am.awards' | trans }}</span><br>
            <span class="italic">Word Illustration Awards. (Shorlisted)</span>. Mercats de Barcelona. 2022.<br>
            <span class="italic">Premi Junceda 2020</span> (coberta de llibre). Guanyador, amb l'obra "Col·lecció diccionaris Espasa". 2020.<br>
            <span class="italic">Word Illustration Awards. (Shorlisted)</span>. Llibre "Mogollón. 2018.<br>
            <span class="italic">Premi Junceda 2016</span> (Publicitat). Guanyador, amb l'obra autoeditada "All my best". 2016.<br>
            <span class="italic">Ebrergent 2015</span>, Art Jove de les Terres de l'Ebre. Lo Pati; Centre d'art de les Terres de l'Ebre.<br>
            <span class="italic">Premi Junceda 2014</span> (categoria comic). Guanyador, amb l'obra "El Senyor Romaní". 2014.<br>
            <span class="italic">Beca Carnet Jove Connecta't al còmic</span> 2012.
        </p>
        <p>
            <span class="underline">{{ 'am.exhibitions' | trans }}</span><br>
            2015 <span class="italic">Ebrergent</span>, Lo Pati; Centre d'Art Terres de l'Ebre, Amposta<br>
            2015 <span class="italic">Cósmiko</span>, Circuito de ilustración de Valencia, Madame Min, Valencia.<br>
            2014 <span class="italic">Criatures Visuals</span>, Galeria Mitte, Barcelona.<br>
            2013 <span class="italic">Homentage a Josep Maria Pujol</span>. Eina, Espai Barra de Ferro. Barcelona.<br>
            2010 <span class="italic">Diary Art, Moleskine</span>. Cripta del FAD, Barcelona.
        </p>
        <p>
            <span class="underline">{{ 'am.publications' | trans }}</span><br>
            "El Senyor Romaní". Editores de tebeos, 2013.<br>
            "Humor se escribe con lápiz". Tires còmiques publicades a eljueves. 2012—2013.<br>
            "Elestafador". Col·laborador habitual amb el magazine online.
        </p>
        <p>
            <span class="underline">{{ 'am.agreements' | trans }}</span><br>
            Washington Post, fnac, Seat, Ajuntament de Barcelona, Guia Michelin...
        </p>
        <img src="{{ asset('images/capgros_670.jpg') }}" alt="{{ customer_name }}" class="w-full lg:w-1/2">
    </div>
{% endblock %}
