{% extends 'frontend/base.html.twig' %}

{% block title %}{{ 'About' | trans }} · {{ parent() }}{% endblock %}

{% block main %}
    <div class="w-full max-w-screen-xl p-4 mx-auto text-base">
        <div class="container mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div class="order-first md:order-last space-y-6">
                    <img src="{{ asset('images/capgros_670.jpg') }}" alt="{{ customer_name }}" class="w-full">
                </div>
                <div class="order-last md:order-first space-y-6">
                    <h4 class="text-2xl font-bold">¡Hola!</h4>
                    <p>
                        Me llamo Miguel Bustos y soy un ilustrador que trabaja desde Barcelona. Soy de un pueblo donde hay fábricas de muebles y el viento sopla muy fuerte. Aunque estudié diseño gráfico, hoy en día me dedico a la ilustración. Nada me hace más feliz que estar imprimiendo en el taller de serigrafía o dibujando <em>chistes malos</em> bajo el nombre de <a href="https://www.instagram.com/humor_se_escribe_con_lapiz/" class="underline hover:text-cyan-600 transition-colors duration-300">humor se escribe con lápiz</a>, mi alter ego.
                    </p>
                    <p>
                        Además de la ilustración, hace años que combino mi actividad profesional de ilustrador con la docencia en EINA, Centro Universitario de Arte y Diseño (Barcelona). También realizo talleres fuera del contexto académico, a menudo para público infantil.
                    </p>
                    <p>
                        Si tienes cualquier pregunta o simplemente quieres saludar, ve al apartado <a href="{{ path('app_contact') }}" class="underline hover:text-cyan-600 transition-colors duration-300">contacto</a>.
                    </p>
                    <p>
                        Representado a nivel internacional por:<br>
                        <a href="https://www.howdoyoudoagency.com/" target="_blank" class="underline hover:text-cyan-600 transition-colors duration-300">How do you do agency</a>
                    </p>
                    <h4 class="text-2xl font-bold mt-12">Algunos clientes</h4>
                    <p>
                        He tenido la suerte y el placer de poder trabajar en diferentes ámbitos con clientes como:
                    </p>
                    <p>
                        Feria Internacional del Libro de Guadalajara, Washington Post, Elpais, Volkswagen, Fondation Louis Vuitton, Fnac, German Historical Museum, Ayuntamiento de Barcelona, Generalitat de Catalunya, Cruz Roja, Seat, Institut for Bioengineering Catalonia, Oregon Health ans Science University, Conde Nast Traveller, Anorak Magazine, Magazine Georges, Graou Magazine, Cavall fort, Time Out Barcelona y muchos otros.
                    </p>
                    <p>
                        Ah, y también con una compañía sueca de muebles (de la cual, por contrato, no puedo decir el nombre).
                    </p>
                    <h4 class="text-2xl font-bold mt-12">Premios</h4>
                    <p>
                        Society of Illustrators NY, 2024. Gold Medal.<br>
                        World illustration Awards, 2024. Highly Commended.<br>
                        World illustration Awards, 2023. Shortlisted.<br>
                        World illustration Awards, 2022. Longlisted.<br>
                        World illustration Awards, 2018. Shortlisted<br>
                        Junceda award, 2024. Awarded<br>
                        Junceda award, 2023. Awarded<br>
                        Junceda award, 2020. Awarded<br>
                        Junceda award, 2016. Awarded<br>
                        Junceda award, 2014. Awarded
                    </p>
                    <h4 class="text-2xl font-bold mt-12">Libros</h4>
                    <p>
                        <strong>PLAY: Canciones para leer en familia</strong><br>
                        (editorial Mediterrània, Spain, 2024)<br><br>
                        <strong>How it works: Electricity</strong><br>
                        (Usborne Publishing, 2023)<br><br>
                        <strong>Le grand bazar</strong><br>
                        (Gautier Languereau, France, 2023)<br><br>
                        <strong>Humor se escribe con lápiz</strong><br>
                        (editorial Pepitas, Spain, 2022)<br><br>
                        <strong>Sona el violí</strong><br>
                        (editorial Casals, Spain, 2022)<br><br>
                        <strong>Recht und Gesetze - Einfach verstehen!</strong><br>
                        (Usborne Publishing, 2022)<br><br>
                        <strong>Law for beginners</strong><br>
                        (Usborne Publishing, 2021)<br><br>
                        <strong>Museus de les comarques de Tarragona i les Terres de l'Ebre</strong><br>
                        (editorial Mediterrània, Spain, 2021)<br><br>
                        <strong>How Art Works</strong><br>
                        (Usborne Publishing, 2020)<br><br>
                        <strong>Be amazing. by Chris Hoy</strong><br>
                        (Walker books, 2020)<br><br>
                        <strong>Tots sis</strong><br>
                        (Jollibre, 2020)<br><br>
                        <strong>Bruce Lee. Little People BIG DREAMS</strong><br>
                        (Quarto Kids, 2019)<br><br>
                        <strong>Bruce Lee. (col·lección Pequeño & Grande)</strong><br>
                        (ed Alba, 2019)<br><br>
                        <strong>Ana Frank</strong><br>
                        (ed, pepitas de oro, 2019)<br><br>
                        <strong>M, le grand livre du Guide Michelin</strong><br>
                        (Ed la martinière, 2019)<br><br>
                        <strong>Beste Freunde: Ein Such-Buch</strong><br>
                        (Prestel Verlag, Germany, 2018)<br><br>
                        <strong>Bucketloads of Friends</strong><br>
                        (Prestel Publishing, 2018)<br><br>
                        <strong>Mogollón</strong><br>
                        (Mosquito books, Spain, 2017)<br><br>
                        <strong>Catalunya triomfant</strong><br>
                        (Roca editorial, Spain, 2016)<br><br>
                        <strong>El senyor Romaní</strong><br>
                        (EDT, Spain, 2013)
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% include 'frontend/parts/projects_grid.html.twig' with { 'show_divider': true } %}
{% endblock %}
