{% extends 'frontend/base.html.twig' %}

{% block title %}{{ 'About' | trans }} · {{ parent() }}{% endblock %}

{% block main %}
    <div class="w-full max-w-screen-xl p-4 mx-auto text-base">
        <div class="container mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div class="order-first md:order-last space-y-6">
                    <img src="{{ asset('images/capgros_670.jpg') }}" alt="{{ customer_name }}" class="w-full">
                </div>
                <div class="order-last md:order-first space-y-6">
                    <h4 class="text-2xl font-bold">Hello!</h4>
                    <p>
                        My name is Miguel Bustos and I'm an illustrator who works from Barcelona. I'm from a town where there are furniture factories and the wind blows very hard. Although I studied graphic design, nowadays I dedicate myself to illustration. Nothing makes me happier than being printing at the silkscreen workshop or drawing <em>bad jokes</em> under the name of <a href="https://www.instagram.com/humor_se_escribe_con_lapiz/" class="underline hover:text-cyan-600 transition-colors duration-300">humor se escribe con lápiz</a>, my alter ego.
                    </p>
                    <p>
                        Besides illustration, for years I've been combining my professional activity as an illustrator with teaching at EINA, University Centre of Art and Design (Barcelona). I also conduct workshops outside the academic context, often for children's audiences.
                    </p>
                    <p>
                        If you have any questions or simply want to say hello, go to the <a href="{{ path('app_contact') }}" class="underline hover:text-cyan-600 transition-colors duration-300">contact</a> section.
                    </p>
                    <p>
                        Represented internationally by:<br>
                        <a href="https://www.howdoyoudoagency.com/" target="_blank" class="underline hover:text-cyan-600 transition-colors duration-300">How do you do agency</a>
                    </p>
                    <h4 class="text-2xl font-bold mt-12">Some clients</h4>
                    <p>
                        I've been fortunate and have had the pleasure of being able to work in different fields with clients such as:
                    </p>
                    <p>
                        Feria Internacional del Libro de Guadalajara, Washington Post, Elpais, Volkswagen, Fondation Louis Vuitton, Fnac, German Historical Museum, Barcelona City Council, Generalitat de Catalunya, Red Cross, Seat, Institut for Bioengineering Catalonia, Oregon Health ans Science University, Conde Nast Traveller, Anorak Magazine, Magazine Georges, Graou Magazine, Cavall fort, Time Out Barcelona and many others.
                    </p>
                    <p>
                        Oh, and also with a Swedish furniture company (whose name I can't mention due to contract).
                    </p>
                    <h4 class="text-2xl font-bold mt-12">Awards</h4>
                    <p>
                        Society of Illustrators NY, 2024. Gold Medal.<br>
                        World illustration Awards, 2024. Highly Commended.<br>
                        World illustration Awards, 2023. Shortlisted.<br>
                        World illustration Awards, 2022. Longlisted.<br>
                        World illustration Awards, 2018. Shortlisted<br>
                        Junceda award, 2024. Awarded<br>
                        Junceda award, 2023. Awarded<br>
                        Junceda award, 2020. Awarded<br>
                        Junceda award, 2016. Awarded<br>
                        Junceda award, 2014. Awarded
                    </p>
                    <h4 class="text-2xl font-bold mt-12">Books</h4>
                    <p>
                        <strong>PLAY: Canciones para leer en familia</strong><br>
                        (editorial Mediterrània, Spain, 2024)<br><br>
                        <strong>How it works: Electricity</strong><br>
                        (Usborne Publishing, 2023)<br><br>
                        <strong>Le grand bazar</strong><br>
                        (Gautier Languereau, France, 2023)<br><br>
                        <strong>Humor se escribe con lápiz</strong><br>
                        (editorial Pepitas, Spain, 2022)<br><br>
                        <strong>Sona el violí</strong><br>
                        (editorial Casals, Spain, 2022)<br><br>
                        <strong>Recht und Gesetze - Einfach verstehen!</strong><br>
                        (Usborne Publishing, 2022)<br><br>
                        <strong>Law for beginners</strong><br>
                        (Usborne Publishing, 2021)<br><br>
                        <strong>Museus de les comarques de Tarragona i les Terres de l'Ebre</strong><br>
                        (editorial Mediterrània, Spain, 2021)<br><br>
                        <strong>How Art Works</strong><br>
                        (Usborne Publishing, 2020)<br><br>
                        <strong>Be amazing. by Chris Hoy</strong><br>
                        (Walker books, 2020)<br><br>
                        <strong>Tots sis</strong><br>
                        (Jollibre, 2020)<br><br>
                        <strong>Bruce Lee. Little People BIG DREAMS</strong><br>
                        (Quarto Kids, 2019)<br><br>
                        <strong>Bruce Lee. (col·lección Pequeño & Grande)</strong><br>
                        (ed Alba, 2019)<br><br>
                        <strong>Ana Frank</strong><br>
                        (ed, pepitas de oro, 2019)<br><br>
                        <strong>M, le grand livre du Guide Michelin</strong><br>
                        (Ed la martinière, 2019)<br><br>
                        <strong>Beste Freunde: Ein Such-Buch</strong><br>
                        (Prestel Verlag, Germany, 2018)<br><br>
                        <strong>Bucketloads of Friends</strong><br>
                        (Prestel Publishing, 2018)<br><br>
                        <strong>Mogollón</strong><br>
                        (Mosquito books, Spain, 2017)<br><br>
                        <strong>Catalunya triomfant</strong><br>
                        (Roca editorial, Spain, 2016)<br><br>
                        <strong>El senyor Romaní</strong><br>
                        (EDT, Spain, 2013)
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% include 'frontend/parts/projects_grid.html.twig' with { 'show_divider': true } %}
{% endblock %}
