{% extends 'frontend/base.html.twig' %}

{% block title %}{{ 'About' | trans }} · {{ parent() }}{% endblock %}

{% block main %}
    <div class="w-full max-w-screen-xl p-4 space-y-6 mx-auto">
        <p>
            {{ 'am.greeting.p1' | trans }}<br>
            {{ 'am.greeting.p2' | trans }}<br>
            {{ 'am.greeting.p3' | trans }}<br>
            <a href="mailto:{{ customer_email }}" class="underline">{{ customer_email }}</a>
        </p>
        <p>
            {{ 'am.represented_by' | trans }}
        </p>
        <p>
            {{ 'am.awards' | trans }}
        </p>
        <p>
            {{ 'am.exhibitions' | trans }}
        </p>
        <p>
            {{ 'am.publications' | trans }}
        </p>
        <p>
            {{ 'am.agreements' | trans }}
        </p>
    </div>
{% endblock %}
