<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{{ project_title }}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="h-full flex flex-col min-h-screen text-gray-900">
        {% include 'frontend/parts/header.html.twig' %}
        <div class="flex flex-1 min-h-0">
            <main class="flex-1 overflow-y-auto p-6 bg-white">
                {% block main %}{% endblock %}
            </main>
        </div>
        <footer class="bg-white px-4 py-2 text-center text-sm">
            {% block footer %}{% endblock %}
        </footer>
    </body>
</html>
