{% extends 'frontend/base.html.twig' %}

{% block title %}{{ 'Contact' | trans }} · {{ parent() }}{% endblock %}

{% block main %}
    <div class="w-full max-w-screen-xl p-4 space-y-4 mx-auto">
        <h1>{{ 'Contact form page!' | trans }}</h1>
        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.mobileNumber) }}
            {{ form_row(form.email) }}
            {{ form_row(form.message) }}
            {{ form_row(form.send, {'attr': {'class': 'mb-6 px-4 py-2 bg-cyan-300 hover:bg-cyan-600 transition cursor-pointer'}}) }}
            {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
