{% extends 'frontend/base.html.twig' %}

{% block title %}{{ 'Contact' | trans }} · {{ parent() }}{% endblock %}

{% block main %}
    <div class="w-full max-w-screen-xl p-4 space-y-4 mx-auto">
        <div class="container mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div class="order-first md:order-last space-y-6">
                    <img src="{{ asset('images/capgros_670.jpg') }}" alt="{{ customer_name }}" class="w-full">
                </div>
                <div class="order-last md:order-first space-y-6">
                    <div>
                        <p>
                            {{ 'am.greeting.p3' | trans }}<br>
                            <a href="mailto:{{ customer_email }}" class="font-bold">{{ customer_email }}</a>
                        </p>

                    </div>
                    <div>
                        <h4 class="font-bold">{{ 'am.social_networks' | trans }}</h4>
                        <p>
                            Instagram <a href="https://www.instagram.com/miguel.bustos/" class="text-gray-600" target="_blank">@miguel.bustos</a><br>
                            Behance <a href="https://www.behance.net/miguel-bustos" class="text-gray-600" target="_blank">@miguel-bustos</a><br>
                            Facebook <a href="https://www.facebook.com/miguel.bustos.ilus" class="text-gray-600" target="_blank">@miguel.bustos.ilus</a>
                        </p>
                    </div>
                    <div>
                        <h4 class="font-bold">Humor se escribe con lápiz</h4>
                        <p>
                            Instagram <a href="https://www.instagram.com/humor_se_escribe_con_lapiz/" class="text-gray-600" target="_blank">@humor_se_escribe_con_lapiz</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'frontend/parts/projects_grid.html.twig' with { 'show_divider': true } %}
{% endblock %}
