{% extends 'frontend/base.html.twig' %}

{% block title %}{{ 'Contact' | trans }} · {{ parent() }}{% endblock %}

{% block main %}
    <div class="w-full max-w-screen-xl p-4 space-y-4 mx-auto">
        <h1>{{ 'Contact form page!' | trans }}</h1>
        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.mobileNumber) }}
            {{ form_row(form.email) }}
            {{ form_row(form.message) }}
            <div class="mb-6">
                <button
                    type="submit"
                    class="mb-6 px-4 py-2 bg-cyan-300 hover:bg-cyan-600 flex items-center gap-2 transition cursor-pointer"
                >
                    {{ ux_icon('bi:send', {'class': 'w-4 h-4'}) }} {{ 'Send' | trans }}
                </button>
            </div>
            {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
